// Navigation Styles

// Main Navigation

// Tabbed Navigation

nav {
  display: flex;
  justify-content: flex-start;
  a.brand{
    text-decoration: none;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    &.right{
      justify-content: flex-end;
    }
    a {
      color: $white;
      padding: 1rem 2rem;
      display: block;
      text-decoration: none;
    }
  }

  width: 100%;
  background: black;

}