// Site Variables

// Grid Variables
@import '~s-grid/s-grid-settings';

// Overrides for s-grid
base-font-size = 18;
gutter = 14px;
columns = 12;
gridClassName = 'grid';
cellClassName = 'col';

// Media Sizes
$big = 1920px;
$large = 1300px;
$desktop = 960px;
$tablet = 768px;
$mobile = 480px;

breakpoints = {
  xs: 0,
  sm: $tablet,
  md: $desktop,
  lg: $large,
  xl: $big
}

// Colors

$white = #fff;
